/*签到*/
.page-bg {
    min-height: 670px;
    background: url("../images/bg.png");
    background-size: 100% 100%;
    overflow: hidden;
}

.page-title {
    height: 210px;
    margin: 40px auto 0;
    background: url("../images/title-bg.png");
    background-size: 100% 100%;
}

.sign-header {
    width: 80px;
    height: 80px;
    margin: 0 auto 60px;
    border-radius: 100%;
}

.sign-header img {
    width: 100%;
    height: 100%;
}

.sign-box{
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.sign-input {
    display: block;
    width: 100%;
    height: 42px;
    padding: 0 12px;
    font-size: 15px;
    color: #e7d16d;
    border: 2px solid #e7d16d;
    background: none;
    border-radius: 10px;
}

.sign-input::-webkit-input-placeholder {
    color: #e7d16d;
}

.sign-input::-moz-placeholder {
    color: #e7d16d;
}

.sign-box label.error{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42px;
    line-height: 42px;
    text-align: right;
    font-size: 15px;
    color: #cb0000;
    padding-right: 20px;
    background: url("../images/err.png") 12px center no-repeat;
    background-size: 18px auto;
}

.sign-btn{
    display: block;
    width: 80%;
    height: 42px;
    margin: 18px auto;
    background: url("../images/btn-bg.png");
    background-size: 100% 100%;
    border: none;
}

/*签到成功*/
.success-title{
    font-size: 30px;
    font-weight: bold;
    color: #e7d16d;
    text-align: center;
}
.success-tip{
    line-height: 60px;
    font-size: 13px;
    color: #e7d16d;
    text-align: center;
}
.success-app{
    line-height: 40px;
    font-size: 13px;
    color: #e7d16d;
    text-align: center;
}
.success-qrcode{
    width: 160px;
    height: 160px;
    margin: 0 auto;
}
.success-qrcode img{
    width: 100%;
    height: 100%;
}

